# TODO: Update with exact module version
numpy
torch>=1.9.1
torchvision>=0.10.1
opencv_python
loguru
scikit-image
tqdm
Pillow
thop
ninja
tabulate
tensorboard

# verified versions
onnx==1.8.1
onnxruntime==1.8.0
onnx-simplifier==0.3.5